<div id="feed">
    <div class="container">

        <!--Destaques-->
        <div id="destaques">
            <h2 class="titulo-feed">Destaques</h2>

            <div class="row g-4">

                <!--Card do produto-->
                <div class="col-6 col-md-4 col-lg-3" *ngFor="let obj of lista">
                    <div class="card produto-card h-100">

                        <span class="icone-desconto" *ngIf="obj.valorPromo > 0">
                                {{calcularDesconto(obj.valor, obj.valorPromo)}}% OFF
                        </span>

                        <img src="{{obj.codigo}}.svg" alt="{{obj.nome}}" class="card-img-top">

                        <div class="card-body">

                            <!--Nome e preço do produto-->
                            <h5 class="card-title">{{obj.nome}}</h5>

                            
                            <p class="preco" *ngIf="obj.valorPromo > 0">{{obj.valorPromo | currency:'BRL'}}</p>
                            <p class="preco" *ngIf="obj.valorPromo == 0">{{obj.valor | currency:'BRL'}}</p>

                            <!--Botão de adicionar ao carrinho e ver detalhes-->
                            <button class="btn btn-ver-detalhes" (click)="verDetalhe(obj);" onclick="location.href='./product-details'">
                                Ver detalhes
                            </button>
                            
                            <button class="btn btn-adicionar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                Adicionar ao carrinho
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>