#header-top {
    background-color: #171717;
}

#header-bottom {
    background-color: #c42021;
}

a {
    color: #ececdc;
    text-decoration: none;
}

#header-top .input-group {
    max-width: 1000px;
    height: 30px;
    margin: 6px;
}

#header-top .input-group .form-control,
#header-top .input-group .input-group-text {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #d9d9d9;
  border: none;
}